<!DOCTYPE html>
<html>
<head>
<title>DoConnect</title>
<link rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">
		<div class="signup">
			<div>

			<form [formGroup]="form" #AdminInformation (ngSubmit)="AdminForm()">
				
        <label>Signup</label>

        <input formControlName="fullName" class="form-control" type="text" placeholder="Enter Username" required>
        <div class="errors">
          <span *ngIf="form.get('fullName')?.hasError('required')">Username is Required*</span> 
        </div>

				
        <input formControlName="email" class="form-control" type="email" placeholder="Enter your Email" aria-describedby="emailHelp"> 
        <div  id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <div class="errors">
          <span *ngIf="form.get('email')?.hasError('required')">Email is Required*</span> 
          <span *ngIf="form.get('email')?.hasError('email')">Enter in mail format</span> 
        </div>


				
        <input formControlName="password" class="form-control" type="password" placeholder="Enter your Password"> 
        <div class="errors">
          <span *ngIf="form.get('password')?.hasError('required')">Password is Required*</span>
        </div>


        
        <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Confirm your Passsword">
        <div class="errors">
          <span *ngIf="form.get('confirmation')?.hasError('required')">Password confirmation is Required</span> 
        </div>

        
          <div class="form-control">
            <select formControlName="role"> 
  <option disabled selected hidden>Choose your role</option>
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>	
</div>
<span *ngIf="form.get('role')?.hasError('required')">Role is Required*</span>


        
        
				<button [disabled]="!form.valid" type="submit">Sign up</button>
			</form>
			</div>
		</div>
	</div>

</body>
</html>






