<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-88559-1">
        <link rel="stylesheet" type="text/css">
        <title> 
            Admin Home - DoConnect
        </title>
        
    </head>
    <!-- header starts -->
<div class="header">
    <h1>You are visiting DoConnect</h1>
    <h2>Try it now!</h2>
  </div>


<!-- header ends -->
    <body>
        <div class="active">
            <ul>
            <label class="logo">DoConnect</label>      
                    <li class="pending"><a href="#">Pending Questions</a></li>
                    <li class="pending1"><a href="/login">Log Out</a></li>
                </ul>
            </div>
            &nbsp;
        <div class="col4">
            <div class="topic">
                <label class="col-form-Label col-4" >Add a Question</label>
                <div class="col-8">
                    <input type="text" class="form-control" field="Question" required
                    minlength="5" maxlength="100" placeholder="Write The Question Here"/>
                </div>
                <div>
                    <button type="add" class="button">ADD</button>
                    <button type="add" class="button1">UPDATE</button>
                    <button type="add" class="button2">CLEAR</button>
                </div>
                <label class="col-form-Label col-4" >Add a Answer</label>
                <div class="col-8">
                    <input type="text" class="form-control" field="Question" required
                    minlength="5" maxlength="500" placeholder="Write Your Answer Here"/>
                </div>
                <div>
                    <button type="add" class="button">ADD</button>
                    <button type="add" class="button1">UPDATE</button>
                    <button type="add" class="button2">CLEAR</button>
                </div>
            </div>
        </div>
    </body>
    <!-- footer starts -->

    <footer>
        <section class="container"> 
            <div class="about">
                <h3>About Us </h3>
                <p>Do Connect is a popular Q and A form in which technical questions are 
                    asked and answered.This Website is handy for technical enthusiats and has
                     features where you can search for questions related to technical topics, add your doubts and can even answer questions.
                 </p>
            </div>
            <div class="services">
                <h3>Team Members</h3>
                <ul>
                    <li>
                        <a href="#">Shaik Nazeem Heera  
                     </a>
                    </li>
                     <li>
                     <a href="#">Goli Venkata Surendra
                     </a>
                     </li>
                     <li>
                     <a href="#">Ayush Gupta</a>
                     </li>
                     <li>
                     <a href="#">Sakshi Jain</a>
                     </li>
                     <li>
                         <a href="#">Pusuluri Sai Venkata Akshay
                         </a>
                         </li>
                </ul>
            </div>
            <div class="contact">
                <h3>Contact</h3>
             <ul>
                 <li>
                     Phone: +1-2345-6789
                 </li>
                 <li>
                     Email:
                     <a href="#">DoConnect@gmail.com</a>
                 </li>
             </ul>
            </div>
        </section>
        <section class="copyright">&copy; 2022 - Designed By C1 Batch-Group1</section>
    </footer>

<!-- footer ends -->
</html>